.topbar .brand {
    color: #ffa239;
}
.topbar .brand:hover {
    color: #ffa239;
    text-shadow: #ffa239 0 0 1px;
}

.topbar a {
    -webkit-transition: text-shadow 0.5s
}

#user-tools a:hover {
    text-shadow: #fff 0px 0px 1px;
}

