#dashboard {
    margin: 0 auto;
    width: 925px;
}

.service {
    cursor: pointer;
    float: left;
    height: 230px;
    margin: 10px 30px 0;
}

.service img {
    width: 125px;
}

.service img, .service span {
    display: inline-block;
}

p.name {
    margin-top: 15px;
    text-align: center;
}

#calendar img {margin-top: 23px;}
#contacts img {margin-top: 0px;}
#expenses img {margin-top: 45px;}
#email img {margin-top: 70px;}
#holiday img {margin-top: 22px;}
#movieclub img {margin-top: 41px;}
#password img {margin-top: 10px;}
#redmine img {margin-top: 63px;}
#status img {margin-top: 31px;}
#trac img {margin-top: 21px;}
