#dashboard {
    margin: 0 auto;
    overflow: auto;
    padding: 40px 10px;
}

.service {
    cursor: pointer;
    float: left;
    height: 200px;
    margin: 10px;
    padding: 10px;
    background-color: #fff;
    width: 150px;
    text-align: center;
    border-radius: 20px;
    border: 1px solid #eee;
    box-shadow: 0 0 3px #ddd inset;
}

.service img {
    width: 125px;
}

.service img, .service span {
    display: inline-block;
}

p.name {
    margin-top: 15px;
    text-align: center;
}

#calendar img {margin-top: 23px;}
#contacts img {margin-top: 0px;}
#expenses img {margin-top: 45px;}
#email img {margin-top: 70px;}
#holiday img {margin-top: 22px;}
#movieclub img {margin-top: 41px;}
#password img {margin-top: 10px;}
#redmine img {margin-top: 82px;}
#status img {margin-top: 31px;}
#trac img {margin-top: 21px;}
