.left {float:left;}
.right {float:right;}

body {
    font-family: Helvetica, Arial, sans-serif;
    text-align: left;
}

#page {
    margin: 0 auto;
    width: 998px;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}
