.left {float:left;}
.right {float:right;}

body {
    font-family: Helvetica, Arial, sans-serif;
    text-align: left;
    margin-top: 50px;
}

#page {
    margin: 0 auto;
    width: 998px;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

#submit input {
    background-image: -moz-linear-gradient(top, #4d90fe, #4787ed);
    background-image: -webkit-linear-gradient(top, #4d90fe, #4787ed);
    border: 0 none;
    border-radius: 3px;
    color: white;
    font-size: 16px;
    height: 30px;
    text-transform: uppercase;
    width: 200px;
}

