.left {float:left;}
.right {float:right;}

body {
    font-family: Helvetica, Arial, sans-serif;
    text-align: left;
}

#page {
    margin: 40px auto 0;
    width: 998px;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

#submit input {
    background-image: -moz-linear-gradient(top, #4d90fe, #4787ed);
    background-image: -webkit-linear-gradient(top, #4d90fe, #4787ed);
    border: 0 none;
    border-radius: 3px;
    color: white;
    font-size: 16px;
    height: 30px;
    text-transform: uppercase;
    width: 200px;
}

#messages {
    margin: 0 auto;
    padding: 10px 0;
    width: 870px;
}

#messages li {
    border: 2px solid black;
    color: #eea239;
    margin-bottom: 10px;
    padding: 15px;
}

#messages li a {
    background: transparent url(../images/icons/close.png) no-repeat 0 0;
    display: block;
    float: right;
    height: 17px;
    width: 17px;
}

#messages li a small {
    display: none;
}
