#page {
    width: auto;
}

header, #header {
    min-height: 40px;
    max-height: 80px;
    height: 80px;
}

#branding {
    /*float: none;*/
    /*text-align: center;*/
    /*width: auto;*/
}

header #user-tools {
    /*float: none;*/
}

#title {
    margin: 10px 0;
    text-align: center;
}

