@font-face {
    font-family: 'ChaletNewYorkNineteenEighty';
    src: url('../fonts/chalet-newyorkeighty-webfont.eot');
    src: local('☺'), url('../fonts/chalet-newyorkeighty-webfont.woff') format('woff'), url('../fonts/chalet-newyorkeighty-webfont.ttf') format('truetype'), url('../fonts/chalet-newyorkeighty-webfont.svg#webfontTQpwVp2F') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ChaletParisNineteenEighty';
    src: url('../fonts/chalet-pariseighty-webfont.eot');
    src: local('☺'), url('../fonts/chalet-pariseighty-webfont.woff') format('woff'), url('../fonts/chalet-pariseighty-webfont.ttf') format('truetype'), url('../fonts/chalet-pariseighty-webfont.svg#webfont9zlDiQUr') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ChaletLondonNineteenEighty';
    src: url('../fonts/chalet-londoneighty-webfont.eot');
    src: local('☺'), url('../fonts/chalet-londoneighty-webfont.woff') format('woff'), url('../fonts/chalet-londoneighty-webfont.ttf') format('truetype'), url('../fonts/chalet-londoneighty-webfont.svg#webfontX7UJmsTO') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ArtBrushMedium';
    src: url('../fonts/artbrush-webfont.eot');
    src: local('☺'), url('../fonts/artbrush-webfont.woff') format('woff'), url('../fonts/artbrush-webfont.ttf') format('truetype'), url('../fonts/artbrush-webfont.svg#webfontIFIvTHHk') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'apple_-webfont';
    src: url('../fonts/apple_-webfont');
    src: local('☺'), url('../fonts/apple_-webfont') format('woff'), url('../fonts/apple_-webfont.ttf') format('truetype'), url('../fonts/apple_-webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

html {
    background: url(../images/status/main-bg.png) top left repeat-x #000000;
    font-family: 'ChaletLondonNineteenEighty';
    font-weight: normal;
    color: #fff;
}

body {
    width: 1080px;
    margin: 100px auto;
    background: url(../images/status/logo.png) top right no-repeat transparent;
    text-transform: uppercase;
    min-height: 1000px;
}

ul {
    list-style: none;
    -webkit-padding-start: 0px;
}

#widgets {
    margin: 0 auto;
    min-width: 800px;
}

#tweets {
    clear: left;
}

/** Employee Form*/
#employee_update .input label {
    display: inline-block;
    width: 100px;
}

#employee_update .input input,
#employee_update .input textarea {
    border: 2px solid grey;
}

#employee_update .input input[type="file"] {
    border: none;
}

/*============================================**/

#logo {
    width: 173px;
    height: 54px;
    float: right;
    margin: 6px 17px 0 0;
}

#page {
    min-height: 1442px;
    padding: 5px;
    background: url(../images/status/bg-contain.png) top left repeat-x transparent;
    margin-bottom: 10px;
}

/* Widgets */
#widgets {
    clear: both;
    height: 250px;
    margin-top: 10px;
}

#time {
    width: 288px;
}

#widgets #shoppingling,
#widgets #imc,
#widgets #holidaycal,
#widgets #spotify,
#widgets #weather {
    float: left;
    height: 230px;
    margin: 0 5px;
    border-radius: 14px 14px;
    background: url(../images/status/widget-bg-inactive.png) top left repeat-x #1A1A1A;
    padding: 10px;
    width: 184px;
}

#widgets #shoppingling {
    background: url(../images/status/shopping-list.png) top left repeat-x transparent;
    padding-top: 30px;
    color: #333;
    line-height: 20px;
    font-family: 'ArtBrushMedium';
    text-transform: none;
    text-shadow: #DACF7D 0px 0px 2px;
}

#widgets #shoppingling ul {
    padding-left: 10px;
}

#widgets #imc {
    background: url(../images/status/imc-bg.png) top left repeat-x transparent;
}

#widgets #weather {
    height: 200px;
    margin-top: 50px;
    background-image: none;
    background-color: #333333;
    width: 204;
    padding: 0;
    position: relative;
}

    /*
    imc
    */



/*
spotify
*/

#widgets #spotify {
    background: url(../images/status/spotify-bg.png) 5px 5px no-repeat transparent;
    position: relative;
    font-family: 'apple_-webfont';
}

#widgets #spotify #spotify-frame {
    background: url(../images/status/spotify-frame.png) top left no-repeat transparent;
    position: absolute;
    height: 250px;
    width: 204px;
    top: 0px;
    left: 0px;
}

#widgets #spotify .album-frame {
    border: 3px #fff solid;
    width: 120px;
    height: 120px;
    -webkit-box-shadow: 0px 0px 15px #000;
    margin: 0 10px;
    float: left;
    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0, rgba(108,107,107,1.0)),
        color-stop(0.62, rgba(27,27,27,0.5))
    );
}

.scrollable {
    height: 137px;
    overflow: hidden;
    padding-top: 11px;
    position: relative;
}

.scrollable .items {
    width:20000em;
    position:absolute;
    margin-left: 24px;
}


#widgets #spotify .items div{
    float: left;
}

#widgets #spotify {
    padding: 5px;
    width: 194px;
    height: 240px;
}

#widgets #spotify h3 {
    color: #E6A9CB;
    text-shadow: 0px 0px 8px #fff;
    text-align: center;
    margin: 7px 0px;
}

#widgets #spotify #song {
    font-size: 8px;
}

#widgets #spotify #band {
    font-size: 11px;
}

#widgets #spotify #album {
    font-size: 7px;
}

/*
ticker
*/

#ticker1 {
    margin: 0;
    overflow: hidden;
}

#ticker2 {
    margin-top: 13px;
    overflow: hidden;
    height: 38px;
    margin-top: 14px;
    padding: 5px 0px;
    width: 183px;
}

.ticker {
    margin: 10px 0;
    padding: 0;
    width: 1080px;
    height: 48px;
    font-size: 18px;
    position: absolute;
}

.ticker ul,
.ticker2 ul,
.ticker li,
.ticker2 li,
.ticker img,
.ticker2 img,
.ticker span,
.ticker2 span {
    float: left;
}

.ticker img {
    padding: 0 10px 0 20px;
}

#ticker2 ul {
    margin: 0;
    width: 2000px;
    height: 38px;
    line-height: 40px;
}

#ticker2 li {
    height: 38px;
}

#ticker2 span {
    line-height: 23px
}

.ticker span {
    line-height: 48px;
}

.up {
    color: #00FF00;
}

.down {
    color: #FF0033;
}

.tweet-pic {
    width: 50px;
    height: 60px;
    float: left;
    margin-left: 3px;
}

#list {
    height: 568px;
    margin-left: 5px;
    margin-right: 5px;
}

#list ul {
    margin: 0;
}

#list li {
    height: 60px;
    margin-bottom: 3px;
}

#graphs {
    height: 370px;
    margin-top: 140px;
    margin-bottom: 20px;
}

#alert ul,
#alert li {
    float: left;
}

#alert li {
    font-size: 20px;
}

#alert ul {
    margin: 20px 0;
}

.graph {
    width: 204px;
    float: left;
    margin: 0 5px;
}

.graph .company,
.graph .name {
    text-align: center;
    width: 204px;
    display: block;
}

.graph .issues .closed-issues {
    font-family: 'ChaletNewYorkNineteenEighty';
}

.graph .issues {
    font-family: ChaletParisNineteenEighty;
    font-size: 40px;
    position: absolute;
    text-align: center;
    top: -49px;
    width: 204px;
}

.graph1 .open-issues,
.graph1 .name {
    color: #FFFE00;
}

.graph2 .open-issues,
.graph2 .name {
    color: #00FE00;
}

.graph3 .open-issues,
.graph3 .name {
    color: #FE0000;
}

.graph4 .open-issues,
.graph4 .name {
    color: #00C6F8;
}

.graph5 .open-issues,
.graph5 .name {
    color: #F0782B;
}

.graph-bar-contain {
    width: 204px;
    height: 300px;
    margin-bottom: 10px;
    position: relative;
}

.graph1 .graph-bar,
.graph2 .graph-bar,
.graph3 .graph-bar,
.graph4 .graph-bar,
.graph5 .graph-bar {
    width: 204px;
    bottom: 0px;
    position: absolute;
}

.graph1 .graph-bar {
    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
            color-stop(0, rgb(255,204,51)),
            color-stop(0, rgb(255,204,51)),
            color-stop(1, rgb(255,255,0))
    );
}

.graph2 .graph-bar {
    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
            color-stop(0, rgb(80,180,60)),
            color-stop(0, rgb(80,180,60)),
            color-stop(1, rgb(0,255,0))
    );
}

.graph3 .graph-bar {
    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
            color-stop(0, rgb(182,33,50)),
            color-stop(0, rgb(182,33,50)),
            color-stop(1, rgb(255,0,0))
    );
}

.graph4 .graph-bar {
    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
            color-stop(0, rgb(51,102,136)),
            color-stop(0, rgb(51,102,136)),
            color-stop(1, rgb(0,204,255))
    );
}

.graph5 .graph-bar {
    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
            color-stop(0, rgb(255,136,51)),
            color-stop(0, rgb(255,136,51)),
            color-stop(1, rgb(255,204,51))
    );
}

#flip-box-contain-company {
    margin-right: 2px;
}

#flip-box-contain-company .flip-box-end,
#flip-box-contain-project .flip-box-end,
#flip-box-contain-company .flip-box,
#flip-box-contain-project .flip-box {
    height: 60px;
    float: left;
    background: url(../images/status/flipper_bg.png) no-repeat;
}

#flip-box-contain-company .flip-box-end {
    margin-right: 3px;
}

#flip-box-contain-company .flip-box-end,
#flip-box-contain-project .flip-box-end {
    background-position: bottom left;
    width: 15px;
}

#flip-box-contain-company .flip-box {
    line-height: 25px;
}

#flip-box-contain-company .flip-box {
    height: 54px;
    width: 178px;
    padding-left: 15px;
    background-position: top left;
    padding-top: 6px;
}

#flip-box-contain-project .flip-box {
    width: 411px;
    background-position: top left;
}

.companyBoard {
    height: 60px;
    width: 170px;
    margin-left: 15px;
}

.projectBoard {
    height: 60px;
    width: 396px;
    margin-left: 15px;
}

#flip-box-contain-project .flip-box h2 {
    color: #FFD825;
    margin: 0 0 0 15px;
    height: 60px;
    line-height: 60px;
}

/* trigger button */
#download_now {
    display:block;
    height:82px;
    overflow:hidden;
    cursor:pointer;
    color: #fff;
}

/* tooltip styling */
.tooltip {
    display:none;
    background:url(http://static.flowplayer.org/tools/img/tooltip/black_arrow_big.png);
    height:163px;
    padding:40px 30px 10px 30px;
    width:310px;
    font-size:11px;
    color:#fff;
}

#curent-movie a {
    text-decoration: none;
}

/* a .label element inside tooltip */
.tooltip .label {
    color:yellow;
    width:35px;
}

.tooltip a {
    color:#ad4;
    font-size:11px;
    font-weight:bold;
}
