@font-face {
    font-family: 'ChaletNewYorkNineteenEighty';
    src: url('../fonts/chalet-newyorkeighty-webfont.woff');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'ChaletParisNineteenEighty';
    src: url('../fonts/chalet-pariseighty-webfont.woff');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'ChaletLondonNineteenEighty';
    src: url('../fonts/chalet-londoneighty-webfont.woff');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'ArtBrushMedium';
    src: url('../fonts/artbrush-webfont.woff');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'apple_-webfont';
    src: url('../fonts/apple_-webfont.woff');
    font-style: normal;
    font-weight: normal;
}

html {
    background: url(../images/status/main-bg.png) top left repeat-x #000000;
    color: #fff;
    font-family: 'ChaletLondonNineteenEighty';
    font-weight: normal;
}

body {
    background: url(../images/status/logo.png) top right no-repeat transparent;
    margin: 100px auto;
    min-height: 1000px;
    text-transform: uppercase;
    width: 1080px;
}

#logo {
    width: 173px;
    height: 54px;
    float: right;
    margin: 6px 17px 0 0;
}

#page {
    background: url(../images/status/bg-contain.png) top left repeat-x transparent;
    margin-bottom: 10px;
    min-height: 1442px;
    padding: 5px;
    width: 1080px;
}

/* Widgets */
#widgets {
    clear: both;
    height: 250px;
    margin: 70px auto 0;
    min-width: 800px;
}

.widget {
    background: url(../images/status/widget-bg-inactive.png) top left repeat-x #1A1A1A;
    border-radius: 14px 14px;
    float: left;
    height: 230px;
    margin: 0 5px;
    padding: 10px;
    width: 184px;
}

#holiday-cal h3 {
    text-align: center;
}

#holiday-cal img {
    float: right;
}

#shopping-list {
    background: url(../images/status/shopping-list.png) top left repeat-x transparent;
    color: #333;
    font-family: 'ArtBrushMedium';
    line-height: 20px;
    padding-top: 45px;
    text-transform: none;
    text-shadow: #DACF7D 0px 0px 2px;
}
#shopping-list ul {
    padding-left: 10px;
}
#shopping-list li span {
    font-weight: bold;
}

/* Twitter Stream Ticker */
#ticker {
    margin: 0;
    overflow: hidden;
}
#ticker {
    margin: 10px 0;
    padding: 0;
    width: 1080px;
    height: 48px;
    font-size: 18px;
    position: absolute;
}
#ticker ul, #ticker li,
#ticker img, #ticker span {
    float: left;
}
#ticker img {
    padding: 0 10px 0 20px;
}
#ticker span {
    line-height: 48px;
}

.up {
    color: #00ff00;
}
.down {
    color: #ff0033;
}
.tweet-pic {
    width: 50px;
    height: 60px;
    float: left;
    margin-left: 3px;
}
