<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta charset="utf-8">

    <title>Incuna Status Board{% block title %}{% endblock title %}</title>
    {% block base_style %}
        <!-- {# <link rel="stylesheet" type="text/css" charset="utf-8" href="{{ STATIC_URL }}styles/base.css"> #} -->
    {% endblock base_style %}
    {% block screen_style %}
        <link rel="stylesheet" type="text/css" charset="utf-8" href="{{ STATIC_URL }}styles/screen.css">
    {% endblock screen_style %}
    {% block extra_style %}{% endblock extra_style %}

    {% block jquery_js %}
        <script charset="utf-8" src="//ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
        <script src="http://cdn.jquerytools.org/1.2.5/jquery.tools.min.js"></script>
		
		<script charset="utf-8" src="{{ STATIC_URL }}scripts/ticker.js"></script>
    {% endblock jquery_js %}

    <!--[if lt IE 7]>
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}styles/ie6.css"  charset="utf-8" media="screen">
        <script charset="utf-8" src="{{ STATIC_URL }}scripts/iepngfix/iepngfix_tilebg.js"></script>
    <![endif]-->
    <!--[if lt IE9]>
        <style>body { behavior: url("{{ STATIC_URL }}scripts/csshover3.htc"); }</style>
    <![endif]-->

    {% block extra_script %}{% endblock extra_script %}
        
    {% block extra_head %}{% endblock extra_head %}

    {% if DEVELOPMENT_SITE %}
        <meta name="robots" content="noindex, nofollow">
    {% endif %}

</head>

{% block body %}
<body id="page-{% block bodyid %}{% endblock bodyid %}" class="{% block bodyclass %}{% endblock bodyclass %}">
    {% block pre_wrap %}{% endblock pre_wrap %}
    {% block wrap %}
    <div id="wrap">
        {% block wrap_content %}
            {% block preheader %}
            {% comment %}
                <div id="preheader">
                    <div class="structure">
                        {% block preheader_content %}{% endblock preheader_content %}
                    </div>
                </div>
            {% endcomment %}
            {% endblock preheader %}

            {% block header %}
                <header>
                    <div class="structure">
                        {% block header_content %}
                        {% endblock header_content %}
                    </div>
                </header>
            {% endblock header %}

            {% block page %}
                <div id="page">
                    <div class="structure">
                        {% block page_content %}
	                        <div class="render">
	                            {{ content }}
	                        </div>
                        {% endblock page_content %}
                    </div>
                </div>
            {% endblock page %}

            {% block footer %}
                <footer>
                    <div class="structure">
                        {% block footer_content %}
                        <div id="ticker1" class="ticker">
                            
                        </div>
                        {% endblock footer_content %}
                    </div>
                </footer>
            {% endblock footer %}
        {% endblock wrap_content %}
    </div>
    {% endblock wrap %}
    {% block post_wrap %}{% endblock post_wrap %}
</body>
{% endblock body %}