--extra-index-url http://incuna:fishand@pypi.incuna.com/

boto==2.3.0
dj-database-url==0.2.1
django==1.4
django-cache-url==0.2
django-debug-toolbar==0.9.4
django-extensions==0.9
django-gravatar==0.1.0
django-password==3.0
django-social-auth==0.6.9
django-storages==1.2a
django-uni-form==0.9.0
feedparser==5.1.2
formencode==1.2.4 #required for SQLObject > IMDb
gunicorn==0.14.2
IMDbPY==4.8.2
pillow>=1.7.7
psycopg2==2.4.5
python-dateutil==2.1
south==0.7.5
vobject==0.8.1c
werkzeug==0.8.3

# incuna pypi
django-extensible-profiles==0.2.1
django-incuna==2.13.0
incuna-twitterstream==1.0
