--extra-index-url http://incuna:fishand@pypi.incuna.com/

Django==1.3

django-extensions==0.6
django-password==2.0
feedparser==5.0.1
formencode==1.2.4 #required for SQLObject > IMDb
gunicorn==0.12.2
IMDbPY==4.7
pil==1.1.7
psycopg2==2.4
python-dateutil==1.5
south==0.7.3
vobject==0.8.1c

# incuna pypi
django-profiles==0.1
incuna==1.3.1
incuna-twitterstream==1.0

