form {
    margin: 0 auto;
    width: 454px;
    padding-top: 20px;
}

label {
    color: #333;
    display: block;
    font-size: 20px;
    margin-bottom: 15px;
    text-align: center;
    width: 100%;
}

#id_imdb_link {
    border: 2px solid #333;
    color: #777;
    display: block;
    font-size: 20px;
    line-height: 25px;
    padding: 3px 2px;
    width: 450px;
}

#submit {
    margin: 20px auto;
    width: 210px;
}

p {
    margin-bottom: 0;
    padding-top: 20px;
    text-align: center;
}

img {
    display: block;
    margin: 0 auto;
}

