<div id="graphs">
{% if projects %}
{% for project in projects %}
    <div class="graph{{ forloop.counter }} graph">
        <div class="graph-bar-contain">
            <div id="graph-bar{{ forloop.counter }}" class="graph-bar" style="height:{{ project.percentage }}%;">
                <div class="issues"><span class="closed-issues">{{ project.closed_issues }}</span>/<span class="open-issues">{{ project.total_issues }}</span></div>
            </div>
        </div>
        <span class="company">Example:</span>
        <span class="name">{{ project.name }}</span>
    </div>
{% endfor %}
{% endif %}
</div>
