{% if projects %}
<div id="list">
    <ul>
        {% for project in projects %}
        <li>
            <div id="flip-box-company">
                <div class="flip-box">
                    <span>COMPANY NAME</span>
                </div>
                <div class="flip-box-end"></div>
            </div>
            <div id="flip-box-project">
                <div class="flip-box">
                    <h2>{{ project.name }}</h2>
                </div>
                <div class="flip-box-end"></div>
            </div>
            <div class="users">
                {% for employee in project.employees %}
                <div class="tweet-pic" style="background: url('{{ employee.avatar.url }}') no-repeat;">
                   <img src="{{ MEDIA_URL }}img/tweet-frame.png" height="60px" width="50px">
                </div>
                {% endfor %}
            </div>
        </li>
        {% endfor %}
    </ul>
</div>
{% endif %}
