#dashboard {
    margin: 0 auto;
    width: 925px;
}

.service {
    cursor: pointer;
    float: left;
    height: 230px;
    margin: 10px 30px 0;
}

.service img {
    width: 125px;
}

p.name {
    margin-top: 15px;
    text-align: center;
}

#calendar img {margin-top:27px;}
#contacts img {margin-top:0px;}
#expenses img {margin-top:53px;}
#email img {margin-top:35px;}
#holiday img {margin-top:26px;}
#password img {margin-top:11px;}
#redmine img {margin-top:75px;}
#status img {margin-top:36px;}
#trac img {margin-top:24px;}
