#music {
    background: url(../../images/status/music-bg.png) 5px 5px no-repeat transparent;
    font-family: 'apple_-webfont';
    height: 240px;
    padding: 5px;
    position: relative;
    width: 194px;
}

#music .scrollable {
    height: 137px;
    overflow: hidden;
    padding-top: 11px;
    position: relative;
}

#music .scrollable .items {
    margin-left: 24px;
    position: absolute;
    width: 20000em;
}

#music .album-frame {
    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0, rgba(108,107,107,1.0)),
        color-stop(0.62, rgba(27,27,27,0.5))
    );
    border: 3px #fff solid;
    float: left;
    height: 120px;
    margin: 0 10px;
    width: 120px;
    -webkit-box-shadow: 0px 0px 15px #000;
}

#music .items div {
    float: left;
}

#music #song {
    font-size: 8px;
}

#music #band {
    font-size: 11px;
}

#music #album {
    font-size: 7px;
}

#music h3 {
    color: #E6A9CB;
    margin: 7px 0px;
    text-shadow: 0px 0px 8px #fff;
    text-align: center;
}

#music #music-frame {
    background: url(../../images/status/music-frame.png) top left no-repeat transparent;
    height: 250px;
    left: 0px;
    position: absolute;
    top: 0px;
    width: 204px;
}
