DEBUG = True
SERVE_MEDIA = DEBUG
TEMPLATE_DEBUG = DEBUG
EMAIL_DEBUG = DEBUG
THUMBNAIL_DEBUG = DEBUG

DEBUG_PROPAGATE_EXCEPTIONS = False

DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.sqlite3',
        'NAME': 'db.sqlite',
    },
    'redmine': {
        'ENGINE': 'django.db.backends.postgresql_psycopg2',
        'NAME': 'redmine',
        'USER': 'redmine',
        'PASSWORD': 'moo',
        'HOST': '192.168.0.2',
    }
}

