DEBUG = True
SERVE_MEDIA = DEBUG
TEMPLATE_DEBUG = DEBUG
EMAIL_DEBUG = DEBUG
THUMBNAIL_DEBUG = DEBUG

DEBUG_PROPAGATE_EXCEPTIONS = False

DATABASE_ENGINE = 'django.db.backends.sqlite3'
DATABASE_NAME = 'db.sqlite'

