#title {
    font-family: Helvetica, Arial;
    font-size: 30px;
    margin: 20px 0;
    text-align: center;
}

#movie-main, #movie-main img,
#movie-info, #user-rating { width:450px; }
#movie-main {
    float: left;
    margin-left: 30px;
}
#movie-main p {
    text-align: center;
}

#movie-info, #user-rating, #watch-by {
    float: right;
    margin-right: 30px;
    width: 450px;
}

#movie-info { margin-top: 100px; }
#movie-info > div { margin: 20px 0; }

#user-rating { margin-top: 60px; }
#user-rating p {
    display: inline-block;
    margin-bottom: 20px;
}
#user-rating .star-rating-control {
    display: block;
}
#user-rating #submit {
    margin-top: 30px;
}

#dvd-request a {
    display: block;
}

#watch-by {
    margin-top: 30px;
}
