/* 
eric meyers reset
v1.0 | 20080212
http://meyerweb.com/eric/thoughts/2007/05/01/reset-reloaded/
NOTE: leave as is, override styles after this
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

/* remember to define focus styles! */
:focus {
	outline: 0;
}

/* remember to highlight inserts somehow! */
ins {
	text-decoration: none;
}
del {
	text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: collapse;
	border-spacing: 0;
}



/*
custom site basics
used as a basis for the project
*/

body {
    font-size: 14px;   
    font-family: 'Helvetica', 'Helvetica Neue', 'Arial', 'sans-serif';
    line-height: 1.4em;
    color: #000;
}

h1 {
    margin: 0 0 0.5em;
    font-size: 2.8em;
}

h2 {
    margin: 0 0 0.5em;
    font-size: 1.6em;
    line-height: 1.2em;
}

h3 {
    margin: 0 0 0.7em;
    font-size: 1.3em;
    line-height: 1.2em;
}

h4 {
    margin: 0 0 0.7em;
    font-size: 1.1em;
    line-height: 1.2em;
}

h5 {
    margin: 0 0 0.6em;
    font-size: 0.85em;
}

h6 {
    margin: 0 0 0.6em;
    font-size: 0.7em;
}

p {
    margin: 0 0 1em;
}

a,
a:link,
a:active,
a:visited,
a:hover {
    color: #0b48bb;
    text-decoration: underline;
}

a:hover {
    color: #062b70;
}

ul, ol {
    margin: 0 0 1em 20px;
    padding: 0;
}

ul {
    list-style-type: disc;
}

ol {
    list-style-type: decimal;
}



/*
extra gubbins
*/

.clear {
    /* for conventional div clearing */
    clear: both;
}

hr.clear {
    /* used for clearing floated elements with neater hr element */
    width: 100%;
    height: 0;
    border: 0 none;
    font-size: 0;
    line-height: 0;
    margin: 0;
    padding: 0;
    visibility: hidden;
}



/* 
base button 

for hyperlinks: <a class="button" href="#"><span>Link</span></a>
for buttons: <span class="button"><input type="submit"></span>

for alternative buttons, use:
span.button.dark or span.button.light or a.button.dark span or a.button.light span
*/
span.button, span.button input, a.button, a.button span {
    float: left;
    background-color: transparent;
    background-repeat: no-repeat;
    text-transform: uppercase;
    /* essential: heights and line-heights should equal the button height, not actual image height in sprite */
    background-image: url(../images/button_standard.png);   
    height: 30px; /* match this to background positions and line heights */ 
    cursor: pointer; /* ensures cursor shows in every situation */
    }
span.button input, a.button, a.button:hover {
    font-size: 13px;
    color: #000000;
    font-family: 'Arial', 'sans-serif';
    }
span.button {
    position: relative;
    background-position: left -30px; /* essential: height of button */
    /* essential: width of right part of button image, 
    if more margin needed (for spacing) remember to add to this number */   
    margin: 0 17px 0 0;    
    }
    span.button input {
        position: relative;
        top: 0;
        left: 17px;  /* essential: equal width of right part of button image */
        margin: 0 0 0 -17px; /* essential: equal minus of width of button image */
        background-position: right 0;
        border: 0 none;
        overflow: visible; /* ie fix for padding */
        padding: 0 22px 1px 14px;
        text-align: left;
        }
a.button {
    background-position: right 0;
    padding: 0 17px 0 0; /* essential: match width of right part of button */ 
    text-decoration: none;
    }
    a.button span {
        padding: 0 5px 0 17px;
        background-position: left -30px; /* essential: height of button */
        line-height: 30px;
        }



/*
tinymce styles
these are to be used with tinymce on the backend
*/

body#tinymce {
    font-size: 12px; /* make two pixels smaller than main */
    padding: 15px;
}