/* -------------------------------------------------------------- 
   
   Boilerplate ie.css
   * Contains hacks for Internet Explorer < IE7
   
-------------------------------------------------------------- */

/* Stops flicking of background images */
html {
  filter: expression(document.execCommand("BackgroundImageCache", false, true));
}

/* Keeps IE6 from cutting pulled/pushed images */
ul, ol { position: relative; }

/* Fixes incorrect styling of legend in IE6 fieldsets. */
legend { margin-bottom: 1.4em; }

/* Fixes incorrect placement of numbers in ol's in IE6/7 */
ol { margin-left: 2em; }

/* Fixes incorrect button width in IE6/7 */
input.button {
    overflow: visible;
}



/* 
png fix 
put all the elements needed for png fix to work on below

#element {
	behavior: url('/static_media/scripts/iepngfix.htc'); 
}
*/