{% extends "admin/base.html" %}

{% block extrastyle %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}styles/admin-header.css">
{% endblock %}

{% block title %}Incuna Dashboard{% endblock %}

{% block branding %}
<h1 id="site-name"><a href="{% url index %}">Incuna Dashboard</a></h1>
{% endblock %}

{% block userlinks %}
<ul>
    <li><a href="{% url admin:password_change %}">Change password</a></li>
    <li><a href="{% url admin:logout %}">Log out</a></li>
</ul>
{% endblock %}

{% block nav-global %}{% endblock %}
