{% extends "imc/base.html" %}

{% block movie-extra %}
<div id="user-rating">
    <form id="rating" action="{% url current-movie %}" method="post">{% csrf_token %}
    {% if rating %}
        <div id="current-rating"><p>Rating: <span id="movie-rating">{{ rating }}</span></p></div>
    {% else %}
        <p>Pick your rating:</p>
    {% endif %}
        {{ form.rating }}
    {% if not rating %}
        <div id="submit">
            <input type="submit" value="Submit Your Rating!">
        </div>
    {% endif %}
    </form>
</div>
{% endblock %}
