{% extends "base.html" %}

{% block extra_style %}
<link rel="stylesheet" type="text/css" charset="utf-8" href="{{ STATIC_URL }}css/imc.css">
{% endblock %}

{% block content %}
<div id="movie">
    <h2 id="title">{{ movie.name }} ({{ movie.year }})</h2>
    <div class="left">
        <p>Picked By: {{ movie.added_by.user.first_name }}</p>
        <img src="{{ movie.image }}" alt="{{ movie.name }}">
    </div>
    <div class="right">
        <div id="movie-info">
            <div id="plot"><p>{{ movie.plot }}</p></div>
            {% if movie.writer %}<div id="writer"><p>Writer(s): {{ movie.writer }}</div>{% endif %}
            {% if movie.director %}<div id="director"><p>Director(s): {{ movie.director }}</p></div>{% endif %}
        </div>
        <div id="user-rating">
        {% if rating %}
            <div>
                <p>Rating: {{ rating }}</p>
            </div>
        {% else %}
            <form id="rating" action="{% url movie %}" method="post">{% csrf_token %}
                Pick your rating: <span id="caption"></span>
                {{ form.rating }}
                <div id="submit">
                    <input type="submit" value="Submit Your Rating!">
                </div>
            </form>
        {% endif %}
        </div>
        {% comment %}
        <div id="dvd-request">
            <form id="request" action="{% url dvd-request movie %}" method="post">{% csrf_token %}
                <input type="submit" value="I'm from 1990 and would like a DVD please">
            </form>
        </div>
        {% endcomment %}
    </div>
</div>
{% endblock %}
