{% extends "imc/base.html" %}

{% load uni_form_tags %}

{% block imc_extrastyle %}
<link rel="stylesheet" type="text/css" charset="utf-8" href="{{ STATIC_URL }}styles/imc/submit.css">
{% endblock %}

{% block title %}Submit your Movie{% endblock %}

{% block content %}
<form action="" method="post">
    {% csrf_token %}
    {{ form|as_uni_form }}
    <div id="submit">
        <input type="submit" value="Submit">
    </div>
</form>

<div id="help">
    <p>Search <a href="http://imdb.com">IMDb</a> for the movie of your choice.</p>
    <img src="{{ STATIC_URL }}images/imc/pick_movie.jpg">
    <p>Copy the URL of your movie.</p>
    <img src="{{ STATIC_URL }}images/imc/copy_link.jpg">
    <p>Paste it into the Movie Club app.</p>
    <img src="{{ STATIC_URL }}images/imc/submit.jpg">
</div>
{% endblock content %}

