{% load movie_tags %}

{% if object %}
<div id="movie-club" class="widget">
    <div id="movie">
        {{ object }}
        <!--<a href="{{ movie.imdb_link }}"><img src="{{ movie.thumbnail }}"></a>-->
    </div>
    <div id="due">
        <span class="char">Due: </span><span>{{ movie.finish }}</span>
    </div>
    <div id="rating">
        {% for i in 10|get_range %}
        <input name="star" type="radio" class="star" disabled="disabled"{% if rating == i %}checked="checked"{% endif %}>
        {% endfor %}
    </div>
</div>
{% endif %}
