{% extends "base.html" %}

{% block title %}Incuna Status Board{% endblock title %}

{% block extrastyle %}
<link rel="stylesheet" type="text/css" charset="utf-8" href="{{ STATIC_URL }}styles/jquery.rating/jquery.rating.css">
<link rel="stylesheet" type="text/css" charset="utf-8" href="{{ STATIC_URL }}styles/status.css">
<link rel="stylesheet" type="text/css" charset="utf-8" href="{{ STATIC_URL }}styles/status/redmine.css">
<link rel="stylesheet" type="text/css" charset="utf-8" href="{{ STATIC_URL }}styles/status/imc.css">
<link rel="stylesheet" type="text/css" charset="utf-8" href="{{ STATIC_URL }}styles/status/music.css">
<link rel="stylesheet" type="text/css" charset="utf-8" href="{{ STATIC_URL }}styles/status/weather.css">
{% endblock %}

{% block extra_script %}
<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.6/jquery.min.js"></script>
<script type="text/javascript" src="http://cdn.jquerytools.org/1.2.5/jquery.tools.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}scripts/jquery.rating/jquery.rating.pack.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}scripts/ticker.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}scripts/status.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}scripts/tweets.js"></script>
{% endblock extra_script %}

{% block header %}{% endblock %}

{% block content %}
<div id="graphs">{# Populated by AJAX #}</div>

<div id="list">{# Populated by AJAX #}</div>

<div id="widgets">
    {% include "status/widgets.html" %}
</div>

{% if today %}
<div id="today">
    Today's Cal
</div>
{% endif %}
{% endblock content %}

{% block footer %}
<div id="ticker">
    <ul>{# Populated by AJAX #}</ul>
</div>
{% endblock %}
