<div id="imc">{# Populated by AJAX #}</div>

<div id="spotify">

    <div class="scrollable">
        <div class="items">
            <div class="child">
                <div class="album-frame">
                    <img src="{{ STATIC_URL }}images/test-album-1.png" />
                </div>
            </div>
            <div class="child">
                <div class="album-frame">
                    <img src="{{ STATIC_URL }}images/test-album-1.png" />
                </div>
            </div>
            <div class="child">
                <div class="album-frame">
                    <img src="{{ STATIC_URL }}images/test-album-1.png" />
                </div>
            </div>
     </div>
   </div>

   <h3 id="song">Moby Dick</h3>
   <h3 id="band">Led Zeppelin</h3>
   <h3 id="album">Led Zeppelin 2</h3>

   <div id="spotify-frame">
   </div>

</div>

<div id="holidaycal">{# Populated by AJAX #}</div>

<div id="blank"></div>

<div id="weather">{# Populated by AJAX #}</div>
