<div id="movie-club" class="widget">{# Populated by AJAX #}</div>

<div id="music" class="widget">
    <div class="scrollable">
        <div class="items">
            <div class="album-frame">
                <img src="{{ STATIC_URL }}images/test-album-1.png" />
            </div>
            <div class="album-frame">
                <img src="{{ STATIC_URL }}images/test-album-1.png" />
            </div>
            <div class="album-frame">
                <img src="{{ STATIC_URL }}images/test-album-1.png" />
            </div>
        </div>
    </div>

    <h3 id="song">Moby Dick</h3>
    <h3 id="band">Led Zeppelin</h3>
    <h3 id="album">Led Zeppelin 2</h3>

    <div id="music-frame"></div>
</div>

<div id="holiday-cal" class="widget">{# Populated by AJAX #}</div>

<div id="weather" class="widget">{# Populated by AJAX #}</div>

<div id="shopping-list" class="widget">{# Populated by AJAX #}</div>
