{% extends "imc/base.html" %}

{% block content %}
<div id="movie">
    <h2 id="title">{{ movie.name }} ({{ movie.year }})</h2>
    <div id="movie-main">
        <p>Picked By: {{ movie.added_by.first_name }}</p>
        <img src="{{ MEDIA_URL }}{{ movie.image }}" alt="{{ movie.name }}">
    </div>
    <div id="movie-info">
        <div id="plot"><p>{{ movie.plot }}</p></div>
        {% if movie.writer %}<div id="writer"><p>Writer(s): {{ movie.writer }}</div>{% endif %}
        {% if movie.director %}<div id="director"><p>Director(s): {{ movie.director }}</p></div>{% endif %}
    </div>
    <div id="user-rating">
        <form id="rating" action="{% url movie-current %}" method="post">{% csrf_token %}
        {% if rating %}
            <div id="current-rating"><p>Rating: <span id="movie-rating">{{ rating }}</span></p></div>
        {% else %}
            <p>Pick your rating:</p>
        {% endif %}
            {{ form.rating }}
        {% if not rating %}
            <div id="submit">
                <input type="submit" value="Submit Your Rating!">
            </div>
        {% endif %}
        </form>
    </div>
</div>
{% endblock %}

