<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" type="text/css" charset="utf-8" href="/static_media/styles/reset.css">
        <link rel="stylesheet" type="text/css" charset="utf-8" href="/static_media/styles/base.css">
        <link rel="stylesheet" type="text/css" charset="utf-8" href="/static_media/styles/500.css">

        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

        <title></title>
    </head>
    <body>
        <header></header>
        <div id="page">
            <h2>Uh oh! 500 page!</h2>
        </div>
        <footer></footer>
    </body>
</html>
