<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" type="text/css" charset="utf-8" href="{{ STATIC_URL }}styles/reset.css">
        <link rel="stylesheet" type="text/css" charset="utf-8" href="{{ STATIC_URL }}styles/main.css">
        {% block extra_style %}{% endblock %}

        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta charset="utf-8">

        {% block extra_script %}{% endblock %}

        <title>{% block title %}{% endblock %}</title>

        {% if DEVELOPMENT_SITE %}
            <meta name="robots" content="noindex, nofollow">
        {% endif %}
    </head>
    <body>
        <header>{% block header %}{% endblock %}</header>
        <div id="page">
            {% block content %}{% endblock %}
        </div>
        <footer>{% block footer %}{% endblock %}</footer>
    </body>
</html>
