<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" type="text/css" charset="utf-8" href="{{ STATIC_URL }}styles/reset.css">
        <link rel="stylesheet" type="text/css" href="//twitter.github.com/bootstrap/1.4.0/bootstrap.css" />
        <link rel="stylesheet" type="text/css" charset="utf-8" href="{{ STATIC_URL }}styles/main.css">
        <link rel="stylesheet" type="text/css" charset="utf-8" href="{{ STATIC_URL }}styles/header.css">
        {% block extrastyle %}{% endblock %}

        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta charset="utf-8">
        {% block extrameta %}{% endblock %}

        <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.6/jquery.min.js"></script>
        <script type="text/javascript" src="//twitter.github.com/bootstrap/1.4.0/bootstrap-alerts.js"></script>
        {% block extrascript %}{% endblock %}

        <title>{% block title %}{% endblock %}</title>

        {% if DEVELOPMENT_SITE %}
            <meta name="robots" content="noindex, nofollow">
        {% endif %}
    </head>
    <body id="{% block bodyid %}{% endblock %}">
        <header class="topbar">
        {% block header %}
            <div class="topbar-inner">
                <div class="container">
                    {% block branding %}
                    <a class="brand" href="{% url index %}">Incuna Dashboard</a>
                    {% endblock %}
                    {% if user.is_active and user.is_staff %}
                        {% block userlinks %}
                        <ul id="user-tools" class="nav secondary-nav">
                            <li><a href="{% url admin:password_change %}">Change password</a></li>
                            <li><a href="{% url admin:logout %}">Log out</a></li>
                        </ul>
                        {% endblock %}
                    {% endif %}
                </div>
            </div>
        {% endblock %}
        </header>
        <div class="container">
            {% for message in messages %}
            <div class="alert-message info" data-alert="alert-{{ forloop.counter0 }}">
                <a href="#" class="close">×</a>
                <p>{{ message }}</p>
            </div>
            {% endfor %}
        </div>
        {% block nav %}{% endblock nav %}
        <div id="page">
            {% block content %}{% endblock %}
        </div>
        <footer>{% block footer %}{% endblock %}</footer>
    </body>
</html>
