<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" type="text/css" charset="utf-8" href="{{ STATIC_URL }}styles/reset.css">
        <link rel="stylesheet" type="text/css" charset="utf-8" href="{{ STATIC_URL }}styles/main.css">
        <link rel="stylesheet" type="text/css" charset="utf-8" href="{{ STATIC_URL }}styles/header.css">
        {% block extrastyle %}{% endblock %}

        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta charset="utf-8">
        {% block extrameta %}{% endblock %}

        <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.6/jquery.min.js"></script>
        {% block extrascript %}{% endblock %}

        <title>{% block title %}{% endblock %}</title>

        {% if DEVELOPMENT_SITE %}
            <meta name="robots" content="noindex, nofollow">
        {% endif %}
    </head>
    <body id="{% block bodyid %}{% endblock %}">
        <header>
        {% block header %}
            <div id="branding">
                {% block branding %}
                <h1 id="site-name"><a href="{% url index %}">Incuna Dashboard</a></h1>
                {% endblock %}
            </div>
            {% if user.is_active and user.is_staff %}
            <div id="user-tools">
                {% block userlinks %}
                <ul>
                    <li><a href="{% url admin:password_change %}">Change password</a></li>
                    <li><a href="{% url admin:logout %}">Log out</a></li>
                </ul>
                {% endblock %}
            </div>
            {% endif %}
        {% endblock %}
        </header>
        {% if messages %}
        <div id="messages">
            <ul>
                {% for message in messages %}
                <li id="message_{{ forloop.counter }}"{% if message.tags %} class="{{ message.tags }}"{% endif %}>
                    <a href="#" onclick="$('#message_{{ forloop.counter }}').fadeOut(); return false;"><small>Clear</small></a>
                    {{ message }}
                </li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}
        <div id="page">
            {% block content %}{% endblock %}
        </div>
        <footer>{% block footer %}{% endblock %}</footer>
    </body>
</html>
