<!DOCTYPE html>
<html>
<head>
  <title>Incuna Dashboard</title>

  <link href="{{ STATIC_URL }}css/main.css" rel="stylesheet" type="text/css">
</head>
<body>
  <div id="password" class="service" onclick="window.location = 'http://password.incuna.com'">
      <img src="#" alt="password" title="blah" width="100" height="100">
      <p class="name">Password</p>
  </div>
  <div id="status" class="service" onclick="window.location = 'http://status.incuna.com'">
    <img src="#" alt="status" title="blah" width="100" height="100">
    <p class="name">status</p>
  </div>
  <div id="expenses" class="service" onclick="window.location = 'http://password.incuna.com'">
    <img src="#" alt="expenses" title="blah" width="100" height="100">
    <p class="name">expenses</p>
  </div>
  <div id="holiday" class="service" onclick="window.location = 'http://password.incuna.com'">
    <img src="#" alt="holiday" title="blah" width="100" height="100">
    <p class="name">holiday</p>
  </div>
  <div id="contacts" class="service" onclick="window.location = 'http://password.incuna.com'">
    <img src="#" alt="contacts" title="blah" width="100" height="100">
    <p class="name">contacts</p>
  </div>
  <div id="trac" class="service" onclick="window.location = 'http://password.incuna.com'">
    <img src="#" alt="trac" title="blah" width="100" height="100">
    <p class="name">trac</p>
  </div>
  <div id="redmine" class="service" onclick="window.location = 'http://password.incuna.com'">
    <img src="#" alt="redmine" title="blah" width="100" height="100">
    <p class="name">redmine</p>
  </div>
  <div id="email" class="service" onclick="window.location = 'http://password.incuna.com'">
    <img src="#" alt="email" title="blah" width="100" height="100">
    <p class="name">email</p>
  </div>
  <div id="calendar" class="service" onclick="window.location = 'http://password.incuna.com'">
    <img src="#" alt="calendar" title="blah" width="100" height="100">
    <p class="name">calendar</p>
  </div>
</body>
</html>

